
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');


.londrina-sketch-regular {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  background: black;
  font-family: system-ui, sans-serif;
}

.village{
  background-image: url(https://raw.githubusercontent.com/letceo/ha-fogo-na-aldeia/refs/heads/main/images/cenas/bg-village.png);
  background-size: cover;
}

.scene {
  height: 100vh;
  background-size: fill;
  background-position: center;
  display: flex;
  align-items: flex-end;
  animation: sceneFade 1s ease;
}

.text-box {
  background: rgba(0,0,0,0.65);
  color: white;
  padding: 2rem;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.6;
}


.bg-pontodeencontro {
  background-image: url("images/cenas/multidao-pontode-encontro");
}
